<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="#">
            Contact Us
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
          <span id="copy_date"></span>
          Healthcare System
    </div>
  </div>
</footer>