<%- include('./intro_header'); -%>

<div class="page-header header-filter" style="background-image: url('/img/bg1.jpg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ml-auto mr-auto">
        <div class="card card-login" style="margin-top: 70px">
          <form class="employment_form">
            <div class="card-header card-header-text card-header-primary text-center">
              <div class="card-text">
                <h4 class="card-title">Employment Form</h4>
              </div>
            </div>
            <div class="card-body large_form">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">First Name *</label>
                    <input type="text" class="form-control" id="firstName" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name *</label>
                    <input type="text" class="form-control" id="lastName" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Social Security Number *</label>
                    <input type="text" class="form-control" id="ssn" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label class="bmd-label-floating">Home Address *</label>
                    <input type="text" class="form-control" id="address" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email Address *</label>
                    <input type="text" class="form-control" id="email" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">High School *</label>
                    <input type="text" class="form-control" id="highSchool" required>
                  </div>
                </div>
              </div>
              <h4><strong>References:</strong></h4>
              <p>Please fill in 3 References</p>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Name *</label>
                    <input type="text" class="form-control" id="ref1_name" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Phone Number *</label>
                    <input type="text" class="form-control" id="ref1_phone" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Name *</label>
                    <input type="text" class="form-control" id="ref2_name" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Phone Number *</label>
                    <input type="text" class="form-control" id="ref2_phone" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Name *</label>
                    <input type="text" class="form-control" id="ref3_name" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Phone Number *</label>
                    <input type="text" class="form-control" id="ref3_phone" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer text-center">
              <button class="btn btn-primary btn-link btn-wd btn-lg">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Submit Application
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./intro_footer'); -%>